﻿<ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                          <li class="active" role="presentation"><a data-toggle="tab" href="#fase1" aria-controls="fase1"
                            role="tab">fase1</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#fase2" aria-controls="fase2"
                            role="tab">fase2</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#fase3" aria-controls="fase3"
                            role="tab">fase3</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#fase4" aria-controls="fase4"
                            role="tab">fase4</a></li>
                        </ul>

                        <div class="modal-body">
                          <div class="tab-content padding-top-10">
                            <div class="tab-pane active" id="fase1" role="tabpanel">
                             SDF
                            </div>

                            <div class="tab-pane" id="fase2" role="tabpanel">
                             SDFSDF
                            </div>

                            <div class="tab-pane" id="fase3" role="tabpanel">
                             SDFSDF
                            </div>

                            <div class="tab-pane" id="fase4" role="tabpanel">
                             SDFSDF
                            </div>
                          </div>
                        </div>
                        
                        
                        
                        
                        
                         <!-- Modal exibir boleto -->
<div class="modal fade modal-danger" id="viewcobranca" aria-hidden="true" aria-labelledby="viewcobranca"
                  role="dialog" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <h4 class="modal-title">Cancelamento de cobrança</h4>
      </div>
        <div class="modal-body">
       
       
       
       
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;"><i class="fa fa-exclamation-triangle"></i> Cancelar cobrança</button>
       
      </div>
      </div>
  </div></div>
<!-- End Modal exibir boleto -->