<article class="item">
  <h1>Android Wear</h1>
  <a href="#" class="btn-update btn-delete-content" title="Disconnect" onclick="deleteConnect(this)">X</a>
</article>
<article class="item">
  <h1>Apple Watch</h1>
  <a href="#" class="btn-update btn-delete-content" title="Disconnect" onclick="deleteConnect(this)">X</a>
</article>
<article class="item">
  <h1>Android Wear</h1>
  <a href="#" class="btn-update btn-delete-content" title="Disconnect" onclick="deleteConnect(this)">X</a>
</article>
<article class="item">
  <h1>Apple Watch</h1>
  <a href="#" class="btn-update btn-delete-content" title="Disconnect" onclick="deleteConnect(this)">X</a>
</article>
