<article class="item">
  <h1>Matches</h1>
  <p class="number">1200</p>
  <p class="place">Real Madrid</p>
  <a href="#" class="btn-update btn-edit-content" title="Update your statistic" data-toggle="modal" data-target="#ModalHistoricAdd">Update</a>
</article>
<article class="item">
  <h1>Goals</h1>
  <p class="number">758</p>
  <p class="place">Barcelona FC</p>
  <a href="#" class="btn-update btn-edit-content" title="Update your statistic" data-toggle="modal" data-target="#ModalHistoricAdd">Update</a>
</article>
<article class="item">
  <h1>Matches</h1>
  <p class="number">1200</p>
  <p class="place">Barcelona FC</p>
  <a href="#" class="btn-update btn-edit-content" title="Update your statistic" data-toggle="modal" data-target="#ModalHistoricAdd">Update</a>
</article>
<article class="item">
  <h1>Goals</h1>
  <p class="number">758</p>
  <p class="place">Barcelona FC</p>
  <a href="#" class="btn-update btn-edit-content" title="Update your statistic" data-toggle="modal" data-target="#ModalHistoricAdd">Update</a>
</article>
