<article class="item">
  <img src="http://www.greggclifton.com/images/bac.gif" class="img-responsive"/>
  <h1><a href="http://www.hellohit.com" class="workplace-link">Bank of America</a></h1>
  <a href="#" class="btn-update btn-delete-content" title="Remove sponsor" onclick="deleteSponsor(this)">X</a>
</article>
<article class="item">
  <img src="http://mlb-s2-p.mlstatic.com/bone-nike-featherlight-corrida-caminhada-running-praia-903411-MLB20531054596_122015-O.jpg" class="img-responsive"/>
  <h1><a href="http://www.hellohit.com" class="workplace-link">Nike</a></h1>
  <a href="#" class="btn-update btn-delete-content" title="Remove sponsor" onclick="deleteSponsor(this)">X</a>
</article>
<article class="item">
  <img src="http://www.hdicon.com/wp-content/uploads/2010/06/Emirates_Airlines_Arabic.png" class="img-responsive"/>
  <h1><a href="http://www.hellohit.com" class="workplace-link">Emirates</a></h1>
  <a href="#" class="btn-update btn-delete-content" title="Remove sponsor" onclick="deleteSponsor(this)">X</a>
</article>
<article class="item">
  <img src="http://www.salgadinhosparafestarj.com.br/wp-content/uploads/friboi.jpg" class="img-responsive"/>
  <h1><a href="http://www.hellohit.com" class="workplace-link">Friboi</a></h1>
  <a href="#" class="btn-update btn-delete-content" title="Remove sponsor" onclick="deleteSponsor(this)">X</a>
</article>
