<article class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
  <div class="user-profile-feed-item" style="background-image:url('build/assets/images/cover.jpg');">
    <a href="#" title="Show Profile"><img src="build/assets/images/avatar.png" alt="User Full Name" title="User Full Name" class="avatar"/></a>
    <h1><a href="#" title="Show Profile">User Full Name</a> <span class="label label-default">PRO</span></h1>
    <h2>5 days</h2>
  </div>
</article>
<article class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
  <div class="user-profile-feed-item" style="background-image:url('build/assets/images/cover.jpg');">
    <a href="#" title="Show Profile"><img src="build/assets/images/avatar.png" alt="User Full Name" title="User Full Name" class="avatar"/></a>
    <h1><a href="#" title="Show Profile">User Full Name</a> <span class="label label-default">PRO</span></h1>
    <h2>3 days</h2>
  </div>
</article>
<article class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
  <div class="user-profile-feed-item" style="background-image:url('build/assets/images/cover.jpg');">
    <a href="#" title="Show Profile"><img src="build/assets/images/avatar.png" alt="User Full Name" title="User Full Name" class="avatar"/></a>
    <h1><a href="#" title="Show Profile">User Full Name</a> <span class="label label-default">PRO</span></h1>
    <h2>1 day</h2>
  </div>
</article>
