<tr>
  <td width="10%" class="text-center">10</td>
  <td width="10%"><span class="avatar"><img src="build/assets/images/avatar.png" alt="User Full Name"/></span></td>
  <td width="65%"><a href="#" title="Show profile">User Full Name</a></td>
  <td width="15%" class="text-center">1234</td>
</tr>
<tr>
  <td width="10%" class="text-center">11</td>
  <td width="10%"><span class="avatar"><img src="build/assets/images/avatar.png" alt="User Full Name"/></span></td>
  <td width="65%"><a href="#" title="Show profile">User Full Name</a></td>
  <td width="15%" class="text-center">1234</td>
</tr>
<tr>
  <td width="10%" class="text-center">12</td>
  <td width="10%"><span class="avatar"><img src="build/assets/images/avatar.png" alt="User Full Name"/></span></td>
  <td width="65%"><a href="#" title="Show profile">User Full Name</a></td>
  <td width="15%" class="text-center">1234</td>
</tr>
<tr>
  <td width="10%" class="text-center">13</td>
  <td width="10%"><span class="avatar"><img src="build/assets/images/avatar.png" alt="User Full Name"/></span></td>
  <td width="65%"><a href="#" title="Show profile">User Full Name</a></td>
  <td width="15%" class="text-center">1234</td>
