<article class="item">
  <h1><a href="http://www.hellohit.com" class="workplace-link">Barcelona FC</a></h1>
  <p class="position">Meio-campo</p>
  <p class="duration">de 2008 a 2015</p>
  <a href="#" class="btn-update btn-edit-content" title="Edit your workplace" data-toggle="modal" data-target="#ModalWorkplaceAdd">Edit</a>

</article>
<article class="item">
  <h1><a href="http://www.hellohit.com" class="workplace-link">Barcelona FC</a></h1>
  <p class="position">Meio-campo</p>
  <p class="duration">de 2008 a 2015</p>
  <a href="#" class="btn-update btn-edit-content" title="Edit your workplace" data-toggle="modal" data-target="#ModalWorkplaceAdd">Edit</a>

</article>
<article class="item">
  <h1><a href="http://www.hellohit.com" class="workplace-link">Barcelona FC</a></h1>
  <p class="position">Meio-campo</p>
  <p class="duration">de 2008 a 2015</p>
  <a href="#" class="btn-update btn-edit-content" title="Edit your workplace" data-toggle="modal" data-target="#ModalWorkplaceAdd">Edit</a>

</article>
<article class="item">
  <h1><a href="http://www.hellohit.com" class="workplace-link">Barcelona FC</a></h1>
  <p class="position">Meio-campo</p>
  <p class="duration">de 2008 a 2015</p>
  <a href="#" class="btn-update btn-edit-content" title="Edit your workplace" data-toggle="modal" data-target="#ModalWorkplaceAdd">Edit</a>

</article>
