.page-register:before {
  background-image: url("../../images/hellohit_banner_principal_big.jpg");
}
.page-register form {
  width: 340px;
  margin: 22px auto;
}
@media (max-width: 480px) {
  .page-register form {
    width: auto;
  }
}
