/* FORMS */
.form-control{
	border-radius:0;
}

.form-control:focus {
	border-color: #fd661a;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
input[type=number]:focus,
textarea {
	border-color: #fd661a;
	border-radius: 0;
	box-shadow: none !important;
}
