/* MARGINS */
.mBottom15 {
	margin-bottom: 15px;
}

.mBottom30 {
	margin-bottom: 30px;
}

.mBottom45 {
	margin-bottom: 45px;
}

.mTop5 {
	margin-top: 5px !important;
}

.mTop10 {
	margin-top: 10px !important;
}

.mTop15 {
	margin-top: 15px !important;
}

.mTop30 {
	margin-top: 30px;
}

.mTop45 {
	margin-top: 45px;
}

.mLeft15 {
	margin-left: 15px;
}

.mLeft30 {
	margin-left: 30px;
}

.mLeft45 {
	margin-left: 45px;
}

/* PADDING */

.noPadding{
	padding: 0;
}
