.star {
    background: url(../images/icons/hh-star-vote.png) no-repeat center transparent;
    background-size: 60% auto;
    border: 2px solid #cccccc;
    border-radius: 100%;
    cursor:pointer;
    display:inline;
    float: left;
    height: 32px;
    margin: 5px 8px 0;
    overflow:hidden;
    position:relative;
    text-indent: -999px;
    width: 32px;
}

.stars {
    overflow: hidden;
}

.tmp_fs,
.active {
  background: url(../images/icons/hh-star-vote-hover.png) no-repeat center transparent;
  background-size: 60% auto;
  border-color:#fd661a;
}
