body {
	background-color:#f1f1f1;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	margin-top: 140px;
}

/* TEXT & CONTENT */

a {
	color:#fd661a;
	text-decoration: none !important;
	transition: all 0.2s linear;
	outline: 0;
}

a:hover {color: #fd661a !important;}

.orange-color {color:#fd661a;}
.white-color {color:#ffffff;}

/* LABEL (TAG ACCOUNT TYPE)*/
.label {
	font-size: 40%;
}

/* PROGRESS BAR */
.progress {
	background-color: rgba(95,144,196,.2);
	border-radius: 0;
}

.progress-bar {
	background-color: #018B5E;
}

/* MODALS */
.modal-header {
	background-color: #5F90C4;
	border-radius: 0;
}
.modal-header h4 {
	color:#ffffff;
}

.modal-content {
	border-radius: 0;
}

.modal-footer {
	background-color: #f1f1f1;
}

/* TABLES */
.table-responsive {
	border: none;
}

.box-background {
	background-color: #ffffff;
}

/* PANELS */
.panel {
	border-radius: none;
}

.panel-default > .panel-heading {
	background-color: #f0f0f0;
}

@media only screen and (max-width : 991px) {
	body {
		margin-top: 260px;
	}
}

@media only screen and (max-width : 767px) {
	body {
		margin-top: 80px;
	}
}

/* LIVE ICON ANIMATION */
@keyframes live-icon {
	0%   { opacity: 1; }
	50%   { opacity: .5; }
	100% { opacity: 1; }
}
