/* PAGE TITLES */
.page-title {
  color: #fd661a;
	font-size: 30px;
  margin-top: 0;
}

.page-title span{
	color: #8c8c8c;
  font-size: 24px;
}

.page-subtitle {
	color: #333333;
	font-size: 26px;
	margin-top: 0;
}

.page-description {
  color:#8c8c8c;
  font-size: 15px !important;
  font-style: italic;
}

/* CONTENT TITLES */

.content-title {
  font-size: 24px;
}

.content-subtitle {
  font-size: 20px;
}
