/* BUTTONS */
.btn {
	border-radius: 0;
}

.btn-success {
	background-color: #11A877;
	border-color: #018B5E;
	color:#ffffff;
}

.btn-success:focus,
.btn-success:hover {
	background-color: #018B5E;
	border-color: #006E4A;
	color:#ffffff !important;
}

.btn-default {
	background-color: #3B74AF;
	border-color: #1C5FA5;
	color:#ffffff;
}

.btn-default:focus,
.btn-default:hover {
	background-color: #1C5FA5;
	border-color: #3B74AF;
	color: #ffffff !important;
}

.btn-warning {
	background-color: #FFB547;
	border-color: #FDA21A;
	color:#ffffff;
}

.btn-warning:focus,
.btn-warning:hover {
	background-color: #FDA21A;
	border-color: #FFB547;
	color: #ffffff !important;
}

.btn-follow {
	background-color: #F0F0F0;
	border:none;
	color:#8c8c8c;
	padding: 3px 10px;
}

.btn-follow:focus,
.btn-follow:hover {
	background-color: #DCDCDC;
	color: #ffffff !important;
}

.btn-order {
	background: url('../images/icons/arrow-down.png') no-repeat center #F0F0F0;
	background-size: 55% auto;
	border:none;
	color:#8c8c8c;
	height: 30px;
	overflow: hidden;
	padding: 8px 10px;
	text-indent: -999px;
	width: 30px;
}

.btn-order:focus,
.btn-order:hover {
	background-color: #DCDCDC;
	color: #ffffff !important;
}

.show-more-button {
	display: block;
	float: left;
	margin: 0 0 15px 0;
	text-align: center;
	width: 100%;
}

.full-button {
	width:100%;
}

.btn-add {
	background: url(../images/icons/new-item.png) no-repeat center transparent;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	width: 20px;
}

.btn-add-image { background: url(../images/icons/add-image.png) no-repeat center transparent; }
.btn-add-video { background: url(../images/icons/add-video.png) no-repeat center transparent; }

.btn-add-image,
.btn-add-video {
	background-size: 100% auto;
	border: none;
	height: 20px;
	margin-right: 15px;
	overflow: hidden;
	text-indent: -9999px;
	width: 20px;
}

.btn-edit-content {
	background: url(../images/icons/edit.png) no-repeat center rgba(255,255,255,.8);
	background-size: 60% auto;
	border: none;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	width: 20px;
}

.btn-delete-content {
	background: url(../images/icons/delete.png) no-repeat center rgba(255,255,255,.8);
	background-size: 60% auto;
	border: none;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	width: 20px;
}

.btn-modal-cancel {
	background: url(../images/icons/cancel.png) no-repeat center transparent;
	background-size: cover;
	border: none;
	display:inline;
	float: left;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	width: 30px;
}

.btn-modal-save {
	background: url(../images/icons/save.png) no-repeat center transparent;
	background-size: cover;
	border: none;
	display:inline;
	float: right;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	width: 30px;
}
