/* NAVBAR */
.nav-pills > li > a{
	background-color: #CCCCCC;
	border-radius: 0;
	color:#ffffff;
	font-size: 18px;
	font-weight: 500;
	outline: none;
}

.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
	background-color: #636363;
}

.feed-filters {
	margin-bottom: 30px;
}

.feed-filters a {
	font-size: 15px !important;
	padding: 5px 10px !important;
}

.feed-filters > li + li {
	margin: 0;
}
