.hh-header {
	background-color:#ffffff;
	border-bottom: 3px solid #fd661a;
	box-shadow: 0 5px 5px 0 rgba(217,210,217,1);
	position:fixed;
	top:0;
	width: 100%;
	z-index: 100;
}

.hh-header h1 {
	margin: 0;
}

.hh-header-logo {
	background: url(../images/logo.png) no-repeat left center transparent;
	display:block;
	height: 85px;
	margin-top: 10px;
	overflow: hidden;
	text-indent: -999px;
}

.hh-menu {
	display:inline;
	float: right;
	text-align: right;
}

.hh-menu .nav-link {
	color:#000000;
	display:inline-block;
	font-size: 15px;
	font-weight: 500;
	padding:7px 15px;
	text-decoration: none;
	transition: background 0.2s linear, color 0.2s linear;
}

.hh-menu .nav-link:hover,
.hh-menu .nav-link.active{
	background-color:#fd661a;
	color:#ffffff;
}

.hh-search {
	display:inline;
	float: right;
	margin: 15px;
	width: 85%;
}

.hh-search form {
	display:inline;
	float: left;
	margin-left: 75px;
	width: 75%;
}

.hh-search input[type=search]{
	background: url(../images/icons/search.png) no-repeat center right 5px transparent;
	box-shadow: none !important;
	padding-right: 35px;
}

.hh-search input[type=search]:focus{
  border-color: #fd661a;
}

.lang-icon {
	display:inline;
	float: right;
	height: 16px;
	margin: 10px 5px;
	overflow:hidden;
	text-indent: -999px;
	width: 24px;
}

.lang-icon.portuguese {
	background: url(../images/icons/flag_brazil.png) no-repeat center transparent;
	background-size: cover;
}

.lang-icon.english{
	background: url(../images/icons/flag_usa.png) no-repeat center transparent;
	background-size: cover;
}

/* Mobile */
@media only screen and (max-width : 991px) {
	.hh-header-logo {
		background-position: center;
		margin-bottom: 10px;
	}

	.hh-search {
		display:inline;
		float: none;
		margin: 15px auto;
	}

	.hh-menu {
		float: inherit;
		margin-top: 10px;
		text-align: center;
		width:100%;
	}

	.hh-menu .nav-link {
		font-size: 14px;
	}
}

@media only screen and (max-width : 767px) {

	.hh-header-logo {
		background-position: left center;
		background-size: 100% auto;
		height: 45px;
		width: 165px;
	}

	.open-menu{
		background: url(../images/icons/open_menu.png) no-repeat center transparent;
		height: 32px;
		right: 0px;
		overflow: hidden;
		position:absolute;
		text-decoration: none;
		text-indent: -999px;
		top: 20px;
		width: 32px;
	}

	.hh-search {
		display:none;
		float: none;
		margin: 15px auto;
	}

	.lang-icon {
		display: none;
	}

	.hh-menu {
		background-color: #000000;
		display:inline-table;
		height: 100%;
		position:fixed;
		right: -50%;
		text-align:right;
		top: -10px;
		transition: right 1s;
		width: 50%;
	}

	.hh-menu.opened {
		right: 0;
	}

	.hh-menu .nav-link {
		color:#ffffff;
		display:block;
	}

	.hh-menu .close-menu{
		background: url(../images/icons/close_menu.png) no-repeat center transparent;
		bottom: 5px;
		height: 32px;
		left: 5px;
		overflow: hidden;
		position:absolute;
		text-decoration: none;
		text-indent: -999px;
		width: 32px;
	}
}