.login-box,
.recover-box,
.join-box {
	background-color:#ffffff;
	margin-top: 30px;
	padding-bottom:15px;
	padding-top: 30px;
}

.recover-box,
.join-box {
	padding-bottom: 30px;
}

.login-page-title {
	font-size: 22px;
}

.login-page-information {
	font-size: 18px;
}

.recover {
	float: right;
}

.recover-link {
	color:#8c8c8c;
	float: right;
	margin-top: 5px;
	text-align: right;
	text-decoration: none;
}

.keep-logged {
	clear: both;
	color:#8c8c8c;
	cursor: pointer;
	display:block;
}

.keep-logged input{
	display: inline;
	float: left;
	margin-right: 5px;
	margin-top: 2px;
}

.login-box input[type=text],
.join-box input[type=text]{
	background: url(../images/icons/login_user.png) no-repeat center right 10px #ffffff;
	padding-right: 35px;
}

.login-box input[type=password],
.join-box input[type=password]{
	background: url(../images/icons/login_passw.png) no-repeat center right 10px #ffffff;
	padding-right: 35px;
}

.recover-box input[type=text],
.recover-box input[type=email],
.join-box input[type=email]{
	background: url(../images/icons/recover_email.png) no-repeat center right 10px #ffffff;
	padding-right: 35px;
}

.terms-conditions {
	color:#8c8c8c;
	display: block;
	margin: 5px 0;
	text-align: center;
}
