.plain-text a{
	text-decoration: underline !important;
}

.plain-text blockquote {
	background-color: #ffffff;
	border-left: 5px solid #3B74AF;
	color: #5F90C4;
	font-size: 16px;
	margin: 20px auto;
	width: 90%;
}

.plain-text ul,
.plain-text ol {
	margin: 20px;
}
