/* WELCOME */
.profile-welcome {
	background:url(../images/profile-welcome-bg.jpg) no-repeat center transparent;
	background-size: 100% auto;
	margin-top: -60px;
	height: 250px;
}

.profile-welcome h1 {
	color:#ffffff;
	font-size: 60px;
	margin-top: 100px;
	text-shadow: 2px 2px 2px rgba(255, 198, 112, 1);
	text-align: center;
}

/* STEPS */

.stepwizard-step p {
	color:#0B4888;
	font-size: 15px;
	margin-top: 10px;
}

.stepwizard-step p.active {
	color: #11A877;
}

.stepwizard-row {
	display: table-row;
}

.stepwizard {
	display: table;
	margin-top: 15px;
	width: 100%;
	position: relative;
}

.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #FFB547;
	z-order: 0;

}

.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
	width:33%;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

/* FORM */
.edit-profile-box-title {
	color: #333333;
	font-size: 22px;
}

.edit-profile-box-subtitle {
	color: #333333;
	font-size: 20px;
}

.edit-profile-box-subtitle.pull-left {
	margin-top: 5px;
}

.profile-images {
	width: 100%;
}

.profile-images .cover {
	position:relative;
	width: 100%;
}

.profile-images .cover .btn-change-cover {
	background:url(../images/icons/camera.png) no-repeat left 5px center transparent;
	color: #ffffff;
	font-size: 12px;
	left: 15px;
	min-height: 32px;
	min-width: 40px;
	outline: none;
	position:absolute;
	top: 15px;
}

.profile-images .cover .btn-change-cover:hover {
	background-color: #FFA070;
	border: 2px solid #ffffff;
	padding: 5px 5px 5px 45px;
}

.profile-images .cover .btn-change-cover span{
	display:none;
	color:#ffffff;
}

.profile-images .cover .btn-change-cover:hover span{
	display:inline;
}

.profile-images .avatar {
	border-radius: 100%;
	height: 200px;
	margin: -100px auto 30px;
	overflow:hidden;
	position:relative;
	width: 200px;
	-webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
}

.profile-images .avatar .btn-change-cover {
	background:url(../images/icons/camera.png) no-repeat center center transparent;
	color: #ffffff;
	font-size: 12px;
	left: 50%;
	margin-left: -16px;
	min-height: 32px;
	min-width: 32px;
	outline: none;
	position:absolute;
	bottom: 5px;
}

.input-50 {
	width: 50%;
}

.profile-form .btn span.glyphicon {
	opacity: 0;
}

.profile-form .btn.active span.glyphicon {
	opacity: 1;
}

/* WORKPLACES, SPONSORS & HISTORIC*/

.workplaces-list,
.sponsors-list,
.historic-list,
.connect-list {
	display:inline;
	float: left;
	margin: 15px 0;
	width: 100%;
}

.workplaces-list .item,
.sponsors-list .item,
.connect-list .item{
	background-color: rgba(95,144,196,.1);
	cursor: pointer;
	display:block;
	float: left;
	margin: 8px 0;
	padding: 15px;
	position:relative;
	transition: all .2s linear;
	width:100%;
}

.workplaces-list .item:hover,
.sponsors-list .item:hover{
	background-color: rgba(95,144,196,.2);
}

.workplaces-list .item:hover h1 > a,
.sponsors-list .item:hover h1 > a{
	color:#FF8547;
}

.workplaces-list .item h1,
.sponsors-list .item h1,
.connect-list .item h1 {
	font-size: 18px;
	margin: 0 0 15px;
}

.workplaces-list .item h1 > a,
.sponsors-list .item h1 > a{
	color:#333333;
}

.workplaces-list .item p {
	color:#8c8c8c8;
	font-size: 14px;
	margin: 0;
}

.workplaces-list .btn-update,
.sponsors-list .btn-update,
.historic-list .btn-update,
.connect-list .btn-update {
	color:#FFA070;
	font-size: 12px;
	position:absolute;
	right: 10px;
	top: 10px;
}

.sponsors-list .item h1 {
	display: inline;
	float: left;
	margin-top: 25px;
}

.sponsors-list img {
	background-color: #ffffff;
	display: inline;
	float: left;
	margin-right: 15px;
	max-width: 75px;
	vertical-align: middle;
}

.historic-list .item {
	background-color: rgba(95,144,196,.1);
	cursor: default;
	display:block;
	float: left;
	margin: 8px 0;
	padding: 15px;
	position:relative;
	transition: all .2s linear;
	width:49%;
}

.historic-list .item:nth-child(even){
	float: right;
}

.historic-list .item h1{
	color: #333333;
	font-size: 16px;
	margin: 0 0 5px 0;
}

.historic-list .item .number{
	color:#11A877;
	font-size: 50px;
	font-weight: 500;
	line-height: 100%;
	margin:0;
}

.historic-list .item p {
	color: #8c8c8c;
}

.historic-list .item p.place {
	margin: 0;
}

.connect-list .item {
	cursor: default;
}

.connect-list .item h1 {
	color:#333333;
	margin: 0;
}

@media only screen and (max-width : 767px) {
	.profile-welcome {
		height: 150px;
		margin-top: -12px;
	}

	.profile-welcome h1 {
		font-size: 35px;
		margin-top: 55px;
	}

}

@media only screen and (max-width : 480px) {

	.historic-list .item {
		width:100%;
	}

	.historic-list .item:nth-child(even){
		float: left;
	}

}

@media only screen and (max-width : 1024px) {
	.profile-images .avatar {
		height: 150px;
		margin: -75px auto 0;
		width: 150px;
	}
}
