.streaming-video-box {
	display:inline;
	float: left;
	width: 100%;
}

.streaming-video-box .streaming-frame {
	background-color:#f3f3f3;
	display:inline;
	float: left;
	min-height: 500px;
	position:relative;
	width: 100%;
}

.streaming-video-box .streaming-frame .watching {
	background: url(../images/icons/watch_live.png) no-repeat left center transparent;
	background-size: auto 100%;
	color:#333333;
	left: 15px;
	font-size: 15px;
	padding-left: 25px;
	position:absolute;
	top: 15px;
}

.streaming-video-box .streaming-frame .live {
	color:#333333;
	font-size: 15px;
	position:absolute;
	right: 15px;
	top: 15px;
}

.streaming-video-box .streaming-frame .live i{
	background-color:#ff0000;
	border-radius: 100%;
	height: 15px;
	margin-right: 3px;
	width: 15px;
	display: inline;
	float: left;
	margin-top: 3px;
	animation: live-icon 2s infinite;
}

.streaming-video-box .streaming-user-details {
	background-color:#ffffff;
	display:inline;
	float: left;
	padding: 15px;
	width: 100%;
}

.streaming-video-box .streaming-user-details .hits-box{
	display:inline;
	float: left;
	height: 80px;
	width: 35%;
}

.streaming-video-box .streaming-user-details .hits-box .hits{
	background: url(../images/icons/star.png) no-repeat left center transparent;
	background-size: 25px auto;
	color:#333333;
	height: 25px;
	padding-left: 30px;
	padding-top: 5px;
	text-align:right;
}

.streaming-video-box .streaming-user-details .hits-box .hits:hover{
	color: #FD661A;
	cursor: pointer;
}

.streaming-video-box .streaming-user-details .user{
	display:inline;
	float: right;
	width: 35%;
}

.streaming-video-box .streaming-user-details .user .avatar{
	border-radius: 100%;
	display: inline;
	float: left;
	height: 80px;
	margin-right: 15px;
	overflow: hidden;
	width: 80px;
}

.streaming-video-box .streaming-user-details .user h1 {
	margin: 0;
}

.streaming-video-box .streaming-user-details .user h1 a {
	color:#FD661A;
	font-size: 20px;
	font-style: italic;
}

.streaming-video-box .streaming-user-details .user h1 a:hover{
	color:#5F90C4;
}

.streaming-video-box .streaming-user-details .user p {
	color:#8c8c8c;
	font-size: 16px;
	margin-bottom: 0;
}

.streaming-details-box {
	background-color:#ffffff;
	display: inline;
	float: left;
	padding: 15px;
	width: 100%;
}

.streaming-details-box h1 {
	color: #333333;
	font-size: 20px;
}

.streaming-details-box h2 {
	color: #5F90C4;
	font-size: 18px;
}

.live-streaming-chat-box {
	background-color: #ffffff;
	padding-bottom: 15px;
	padding-top: 15px;
}

.title-live-chat {
	margin-top: 0;
}

.live-streaming-chat-box .message-edit textarea {
	margin-bottom: 15px;
}

.live-streaming-chat-box .messages {
	background-color: rgba(95, 144, 196, .1);
	display: inline;
	float: left;
	height: 380px;
	margin-bottom: 15px;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 380px;
	width:100%;
}

.live-streaming-chat-box .messages p {
	font-size: 13px;
	padding: 3px 15px;
}

.live-streaming-chat-box .messages p span{
	display:block;
	font-weight: 500;
}

.live-streaming-chat-box .messages p.myself {
	text-align: right;
}


@media only screen and (max-width : 640px) {
	.streaming-video-box .streaming-user-details .user{
		float: right;
		width: 60%;
	}
}

@media only screen and (max-width : 480px) {
	.streaming-video-box .streaming-user-details .hits{
		float: left;
		height: 60px;
		width: 100%;
	}
	.streaming-video-box .streaming-user-details .user{
		float: left;
		width: 100%;
	}
}
