.streaming-list {
	display:inline;
	float: left;
	margin: 15px 0;
	width: 100%;
}

.streaming-list .item{
	background-color: rgba(95,144,196,.1);
	display:block;
	float: left;
	margin: 8px 0;
	padding: 15px;
	position:relative;
	transition: all .2s linear;
	width:49%;
}

.streaming-list .item:nth-child(even){
	float: right;
}

.streaming-list .item .streaming-preview-frame {
	background-color:#f3f3f3;
	display:inline;
	float: left;
	margin-bottom: 0;
	min-height:250px;
	position:relative;
	width: 100%;
}

.streaming-list .item .streaming-preview-frame .watching {
	background: url(../images/icons/watch_live.png) no-repeat left center transparent;
	background-size: auto 100%;
	color:#333333;
	left: 15px;
	font-size: 15px;
	padding-left: 25px;
	position:absolute;
	top: 15px;
}

.streaming-list .item .streaming-preview-frame .live {
	color:#333333;
	font-size: 15px;
	position:absolute;
	right: 15px;
	top: 15px;
}

.streaming-list .item .streaming-preview-frame h1 {
	background-color: rgba(0,0,0,.5);
	color:#333333;
	font-size: 20px;
	left: 15px;
	padding: 5px;
	position:absolute;
	top: 30px;
}

.streaming-list .item .streaming-preview-frame .live i{
	background-color:#ff0000;
	border-radius: 100%;
	height: 15px;
	margin-right: 3px;
	width: 15px;
	display: inline;
	float: left;
	margin-top: 3px;
	animation: live-icon 2s infinite;
}

.streaming-list .item .streaming-preview-frame .hits{
	background: url(../images/icons/star.png) no-repeat right center transparent;
	background-size: 25px auto;
	bottom: 15px;
	height: 20px;
	padding-right: 30px;
	padding-top: 0px;
	position:absolute;
	right :15px;
	text-align:right;
	width: 50%;
}

.streaming-list .item .streaming-preview-frame .hits:hover{
	color: #FD661A;
}

.streaming-list .item .streaming-user {
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	display:inline;
	float: left;
	width:100%;
}

.streaming-list .item .streaming-user .user-info{
	background-color:rgba(0,0,0,.5);
	display:inline;
	float: left;
	min-height: 100%;
	position:relative;
	width:100%;
}

.streaming-list .item .streaming-user .avatar{
	border-radius: 100%;
	display: inline;
	float: left;
	height: 70px;
	margin: 15px;
	overflow: hidden;
	width: 70px;
}

.streaming-list .item .streaming-user h2 {
	margin: 20px 0 0;
}

.streaming-list .item .streaming-user h2 a {
	color:#FD661A;
	font-size: 20px;
	font-style: italic;
}

.streaming-list .item .streaming-user p {
	color:#ffffff;
	font-size: 16px;
	margin-bottom: 0;
}

@media only screen and (max-width : 610px) {
	.streaming-list .item{
		width:100%;
	}

}
