.profile-team {
	background-color:#ffffff;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 15px;
	padding-top: 150px;
}

.profile-team-tab-content{
	background-color: #ffffff;
	padding-top: 0;
}

.profile-team-tab-content .tab-content-box {
	background-color:#ffffff;
	padding: 15px;
}

.profile-team .resume {
	margin-bottom: 15px;
	min-height: 250px;
	text-align: center;
}

.profile-team .resume .avatar {
	border-radius: 100%;
	height: 250px;
	width: 250px;
	-webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
}

.profile-team .resume h1{
	color:#FD661A;
	font-size: 30px;
	margin-bottom: 5px;
}

.profile-team .resume h2{
	color:#8c8c8c;
	font-size: 22px;
	margin-top: 0;
}

.profile-team .resume p {
	clear: both;
	display:block;
}

.profile-team .resume .btn-update {
	float: right;
}

.profile-team .user-actions {
	display:block;
	margin-bottom: 10px;
	margin-top: 5px;
}

.profile-team .user-actions .hits{
	background: url(../images/icons/star.png) no-repeat left center transparent;
	background-size: 25px auto;
	color:#333333;
	height: 25px;
	padding-left: 30px;
	padding-top: 5px;
	text-align:right;
}

.profile-team .user-actions .hits:hover{
	color: #FD661A;
	cursor: pointer;
}

.profile-team .user-actions .timeline{
	background: url(../images/icons/timeline.png) no-repeat right center transparent;
	color:#333333;
	height: 25px;
	margin-right: 15px;
	padding-right: 30px;
	padding-top: 5px;
	text-align:left;
}

.profile-team .user-actions .timeline:hover{
	color: #FD661A;
	cursor: pointer;
}

.profile-team .btn-update {
	display:inline;
	float:right;
}

.profile-team .tab-profile h1,
.profile-team .tab-opportunities h1,
.profile-team .tab-news h1{
	color:#FD661A;
	display: inline;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
}

.profile-team .tab-profile img.pull-left {
	margin: 5px 5px 5px 0;
}

.profile-team .tab-profile img.pull-right {
	margin: 5px 0 5px 5px;

}

.profile-team .tab-news .details {
	display:inline;
	float:left;
	margin-bottom: 15px;
	margin-top: 15px;
	position:relative;
	width:100%;
}

.profile-team .tab-news .details .btn-update {
	position:absolute;
	right: 5px;
	top: 5px;
}

.profile-team .tab-news .details img {
	border-bottom: 3px solid #FD661A;
}

.profile-team .tab-news .details p.date {
	color:#8c8c8c;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 5px;
}

.profile-team .tab-news .details h1{
	display: inline;
	font-size: 22px;
	margin-top: 5px;
	float: left;
	width: 100%;
}

.profile-team .tab-news .details h1 a {
	color:#333333;
}

.profile-team .tab-news .details h1 a:hover {
	color:#fd661a;
}

.profile-team .tab-news .details .hits{
	background: url(../images/icons/star.png) no-repeat right center transparent;
	background-size: 25px auto;
	color:#333333;
	height: 25px;
	float:right;
	padding-right: 30px;
	padding-top: 5px;
	text-align:right;
}

.profile-team .tab-news .details .hits:hover{
	color: #FD661A;
	cursor: pointer;
}

.profile-team .statistics-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.profile-team .statistics-list li{
	border-bottom: 2px solid #f1f1f1;
	padding: 10px 0;
}

.profile-team .statistics-list li:last-child{
	border-bottom: none;
}

@media only screen and (max-width : 640px) {
	.profile-team {
		background-color:#ffffff;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		padding-bottom: 15px;
		padding-top: 100px;
	}
	.profile-team .resume .avatar {
		border-radius: 100%;
		height: 150px;
		width: 150px;
	}

}
