.profile {
	background-color:#ffffff;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 15px;
	padding-top: 150px;
}

.profile .resume {
	margin-bottom: 15px;
	min-height: 250px;
	text-align: center;
}

.profile .resume .avatar {
	border-radius: 100%;
	height: 250px;
	width: 250px;
	-webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
}

.profile .resume h1{
	color:#FD661A;
	font-size: 30px;
	margin-bottom: 5px;
}

.profile .resume h2{
	color:#8c8c8c;
	font-size: 22px;
	margin-top: 0;
}

.profile .resume p {
	clear: both;
	display:block;
}

.profile .resume .btn-update {
	float: right;
}

.profile .user-actions {
	display:block;
	margin-bottom: 10px;
	margin-top: 5px;
}

.profile .user-actions .hits{
	background: url(../images/icons/star.png) no-repeat left center transparent;
	background-size: 25px auto;
	color:#333333;
	height: 25px;
	padding-left: 30px;
	padding-top: 5px;
	text-align:right;
}

.profile .user-actions .hits:hover{
	color: #FD661A;
	cursor: pointer;
}

.profile .user-actions .timeline{
	background: url(../images/icons/timeline.png) no-repeat right center transparent;
	color:#333333;
	height: 25px;
	margin-right: 15px;
	padding-right: 30px;
	padding-top: 5px;
	text-align:left;
}

.profile .user-actions .timeline:hover{
	color: #FD661A;
	cursor: pointer;
}

.profile .btn-update {
	display:inline;
	float:right;
}

.profile .tab-profile h1,
.profile .tab-projects h1,
.profile .tab-hitshots h1{
	color:#FD661A;
	display: inline;
	float: left;
	font-size: 20px;
	font-weight: bold;
}

.profile .tab-profile img.pull-left {
	margin: 5px 5px 5px 0;
}

.profile .tab-profile img.pull-right {
	margin: 5px 0 5px 5px;

}

.profile .tab-projects article {
	margin-bottom: 15px;
}

.profile .tab-projects .presentation {
	position:relative;
}

.profile .tab-projects .presentation .btn-update {
	position:absolute;
	right: 5px;
	top: 5px;
}

.profile .tab-projects .presentation h1{
	background-color: rgba(0,0,0,.6);
	bottom: 15px;
	left: 15px;
	font-size: 22px;
	margin: 0 15px 0 0;
	padding: 5px;
	position:absolute;
}

.profile .tab-projects .presentation h1 a {
	color:#FD661A;
}

.profile .tab-projects .details {
	border-top: 3px solid #FD661A;
	display: inline;
	float: left;
	padding-bottom: 15px;
	width:100%;
}

.profile .tab-projects .details .objective {
	display:inline;
	float: right;
	text-align: right;
	width: 49%;
}

.profile .tab-projects .details .pledged {
	display:inline;
	float: left;
	width: 49%;
}

.profile .tab-projects .details .objective h2,
.profile .tab-projects .details .pledged h2 {
	color:#333333;
	font-size: 18px;
	font-weight: 500;
	margin: 10px 15px 5px;
}

.profile .tab-projects .details .objective p,
.profile .tab-projects .details .pledged p {
	color: #8c8c8c;
	font-size: 16px;
	font-weight: 500;
	margin: 0 15px;
}

.profile .tab-projects .details .pledged p {
	color:#11A877;
}

.profile .tab-projects .details .progress {
	margin-bottom:0;
	margin-top: 10px;
}


.profile .tab-hitshots .details {
	display:inline;
	float:left;
	margin-bottom: 15px;
	position:relative;
	width:100%;
}

.profile .tab-hitshots .details .btn-update {
	position:absolute;
	right: 5px;
	top:5px;
}

.profile .tab-hitshots .details img {
	border-bottom: 3px solid #FD661A;
}

.profile .tab-hitshots .details p.date {
	color:#8c8c8c;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 5px;
}

.profile .tab-hitshots .details h1{
	display: inline;
	font-size: 22px;
	margin-top: 5px;
	float: left;
	width: 100%;
}

.profile .tab-hitshots .details h1 a {
	color:#333333;
}

.profile .tab-hitshots .details h1 a:hover {
	color:#FD661A;
}

.profile .tab-hitshots .details .hits{
	background: url(../images/icons/star.png) no-repeat right center transparent;
	background-size: 25px auto;
	color:#333333;
	height: 25px;
	float:right;
	padding-right: 30px;
	padding-top: 5px;
	text-align:right;
}

.profile .tab-hitshots .details .hits:hover{
	color: #FD661A;
	cursor: pointer;
}

#item_for_sale_fields,
#type_hitshot_image,
#type_hitshot_video {
	display: none;
}

.tab-pane.active {
	background: none;
}

@media only screen and (max-width : 640px) {
	.profile {
		background-color:#ffffff;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		padding-bottom: 15px;
		padding-top: 100px;
	}
	.profile .resume .avatar {
		border-radius: 100%;
		height: 150px;
		width: 150px;
	}

}
