.group-aside-box {
  background-color: #ffffff;
  display:inline;
  float: left;
  margin: 15px 0;
  padding: 15px;
  width:100%;
}

.group-aside-list {
  display: inline;
  float: left;
  margin: 15px 0 0;
  width:100%;
}

.group-aside-list-item {
  border-radius: 100%;
  display:inline;
  float: left;
  height: 45px;
  margin: 6px;
  overflow: hidden;
  width: 45px;
}

.group-aside-list-item img {
  height: 100%;
  width:100%;
}

@media only screen and (min-width : 320px) and (max-width: 359px){
  .group-aside-list-item {
    height: 45px;
    margin: 9px;
    width: 45px;
  }
}

@media only screen and (min-width : 360px) and (max-width: 629px) {
  .group-aside-list-item {
    height: 45px;
    margin: 7px;
    width: 45px;
  }
}

@media only screen and (min-width : 630px) and (max-width: 767px){
  .group-aside-list-item {
    height: 85px;
    margin: 15px;
    width: 85px;
  }
}

@media only screen and (min-width : 768px) and (max-width:1023px) {
  .group-aside-list-item {
    height: 45px;
    margin: 9px;
    width: 45px;
  }
}
