.user-profile-feed-item{
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 15px 0;
  padding-bottom: 15px;
  padding-top: 35px;
  text-align:center;
}

.user-profile-feed-item .avatar {
	border-radius: 100%;
  display:block;
	height: 100px;
  margin: 0 auto;
	width: 100px;
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
}

.user-profile-feed-item h1{
	color:#FD661A;
	font-size: 20px;
	margin-bottom: 5px;
}

.user-profile-feed-item h1 a{
	color:#FD661A;
}


.user-profile-feed-item h2{
	color:#8c8c8c;
	font-size: 16px;
	margin-top: 0;
}

.user-profile-feed-item .user-actions .hits{
	background: url(../images/icons/star.png) no-repeat left center transparent;
	background-size: 25px auto;
	color:#333333;
	height: 25px;
	padding-left: 30px;
	padding-top: 5px;
	text-align:right;
}

.user-profile-feed-item .user-actions .hits:hover{
	color: #FD661A;
	cursor: pointer;
}

.user-profile-feed-item .user-actions .timeline{
	background: url(../images/icons/timeline.png) no-repeat right center transparent;
	color:#333333;
	height: 25px;
	margin-right: 15px;
	padding-right: 30px;
	padding-top: 5px;
	text-align:left;
}

.user-profile-feed-item .user-actions .timeline:hover{
	color: #FD661A;
	cursor: pointer;
}

@media only screen and (min-width : 480px) and (max-width: 629px){
  .user-profile-feed-item{
    padding-top: 100px;
  }
}

@media only screen and (min-width : 630px) and (max-width: 767px){
  .user-profile-feed-item{
    padding-top: 120px;
  }

  .user-profile-feed-item .avatar {
  	height: 150px;
  	width: 150px;
  }
}

@media only screen and (min-width : 768px) and (max-width:1023px) {
  .user-profile-feed-item{
    padding-top: 70px;
  }
}
