.crowdfunding-details {
    background-color:#ffffff;
    padding-bottom: 15px;
    padding-top: 15px;
}

.crowdfunding-details .header {
  display: inline;
  float: left;
  margin-bottom: 15px;
  position:relative;
  width:100%;
}

.crowdfunding-details .header .label {
  background-color: rgba(0,0,0,.6);
  max-width: 310px;
  overflow: hidden;
  padding: 5px;
  position:absolute;
  right: 15px;
  top: 15px;
}

.crowdfunding-details .header .label .avatar {
  border-radius: 100%;
  display:inline;
  float: left;
  height: 60px;
  overflow: hidden;
  position:relative;
  width: 60px;
}

.crowdfunding-details .header .label .avatar img {
  width:100%;
}

.crowdfunding-details .header .label h1{
  display: inline;
  float: left;
  font-size: 20px;
  margin: 10px 0 0 5px;
}

.crowdfunding-details .header .label h1 a{
  color: #fd661a;
}

.crowdfunding-details .header .label h1 a:hover {
	color:#FDA21A;
}

.crowdfunding-details .header .label h2 {
  display: inline;
  float: left;
  font-size: 16px;
  margin: 0 0 0 5px;
}

.crowdfunding-details .details h1 {
  color: #333333;
  font-size: 26px;
  margin-bottom: 15px;
}

.crowdfunding-details .details h2 {
  color: #8c8c8c;
  font-size: 20px;
  margin-bottom: 0px;
}

.crowdfunding-infos h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.crowdfunding-infos .value,
.crowdfunding-infos .number{
  font-size: 22px;
  margin-bottom: 15px;
}

.crowdfunding-infos .number {
  color: #018B5E;
}

.crowdfunding-infos .rewards li.first {
  margin-top: 15px;
}
