.feed-opportunities {
  margin-top: 15px;
}

.form-search-opportunities{
  display:inline;
  float: right;
  margin-top: 20px;
  position:relative;
}

.form-search-opportunities input[type=search]{
  background: url(../images/icons/search.png) no-repeat center right 5px #ffffff;
  box-shadow: none !important;
  padding-right: 35px;
}

.feed-opportunities .feed-opportunities-item{
  margin-bottom: 15px;
}

.feed-opportunities-item img {
  border-bottom: 3px solid #FD661A;
}

.feed-opportunities .feed-opportunities-item .labels {
  background: url(../images/icons/arrow-right.png) no-repeat right 15px center #ffffff;
  padding: 5px 45px 10px 15px;
}

.feed-opportunities .feed-opportunities-item .labels h1 {
  color:#333333;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 0;
}

.feed-opportunities .feed-opportunities-item .labels h1 a{
  color:#333333;
}

.feed-opportunities .feed-opportunities-item .labels h1 a:hover{
  color:#FD661A;
}

.feed-opportunities .feed-opportunities-item .labels h2 {
  clear: both;
  color:#8c8c8c;
  font-size: 18px;
  margin: 0;
}
