.feed-crowdfunding {
  margin-top: 15px;
}

.form-search-crowdfunding{
  display:inline;
  float: right;
  margin-top: 20px;
  position:relative;
}

.form-search-crowdfunding input[type=search]{
  background: url(../images/icons/search.png) no-repeat center right 5px #ffffff;
  box-shadow: none !important;
  padding-right: 35px;
}

.feed-crowdfunding .feed-crowdfunding-item{
  margin-bottom: 15px;
  position:relative;
}

.feed-crowdfunding .feed-crowdfunding-item .label {
  background-color: rgba(0,0,0,.6);
  min-width: 200px;
  overflow: hidden;
  padding: 5px;
  position:absolute;
  right: 15px;
  top: 15px;
}

.feed-crowdfunding .feed-crowdfunding-item .label .avatar {
  border-radius: 100%;
  display:inline;
  float: left;
  height: 40px;
  margin-right: 5px;
  overflow: hidden;
  position:relative;
  width: 40px;
}

.feed-crowdfunding .feed-crowdfunding-item .label .avatar img {
  width:100%;
}

.feed-crowdfunding .feed-crowdfunding-item .label h1{
  color: #fd661a;
  display: block-table;
  font-size: 16px;
  margin: 5px 0 0 5px;
  text-align: left;
}

.feed-crowdfunding .feed-crowdfunding-item .label h2 {
  display: block-table;
  font-size: 14px;
  margin: 0 0 0 5px;
  text-align: left;
}

.feed-crowdfunding .feed-crowdfunding-item .progress {
  margin-bottom: 0;
}

.feed-crowdfunding .feed-crowdfunding-item .details {
  background-color: #ffffff;
  display:inline;
  float: left;
  padding: 15px;
}

.feed-crowdfunding .feed-crowdfunding-item .details h1 {
  font-size: 20px;
  margin-top: 0;
}

.feed-crowdfunding .feed-crowdfunding-item .details h1 a{
  color:#333333;
}

.feed-crowdfunding .feed-crowdfunding-item .details ul {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width:100%;
}

.feed-crowdfunding .feed-crowdfunding-item .details ul li{
  displat: inline;
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align:center;
  width: 33%;
}

.feed-crowdfunding .feed-crowdfunding-item .details ul li span{
  display: block;
  font-size: 13px;
  font-weight: normal;
}
