
.battle-versus,
.battle-versus-icon {
  margin-top: 15px;
}

.battle-versus-icon {
  padding-top: 80px;
}

.battle-versus .details{
  background-color: #ffffff;
  display:inline;
  float: left;
  position:relative;
  padding-bottom: 15px;
  width:100%;
}

.battle-versus .details .label {
  display:inline;
  float: left;
  margin: 15px;
  min-width: 200px;
  max-width: 300px;
  overflow: hidden;
}

.battle-versus .details .label .avatar {
  border-radius: 100%;
  display:inline;
  float: left;
  height: 60px;
  margin-right: 5px;
  overflow: hidden;
  width: 60px;
}

.battle-versus .details .label .avatar img {
  width:100%;
}

.battle-versus .details .label h1{
  color: #FFC670;
  display: inline;
  float: left;
  font-size: 20px;
  margin: 10px 0 0 5px;
  text-align: left;
}

.battle-versus .details .label h1 span {
  display: block;
  font-size: 18px;
  text-align: left;
}

.battle-versus .details .actions {
  position:absolute;
  right: 15px;
  top: 5px;
}

.battle-versus .details .actions .hits{
	background: url(../images/icons/star.png) no-repeat right center transparent;
	background-size: 35px auto;
	color:#333333;
  display:block;
  font-size: 16px;
	height: 50px;
  padding: 15px 45px 10px 0px;
	text-align:right;
}

.battle-versus .details .actions .hits:hover{
	color: #FD661A;
	cursor: pointer;
}

.battle-versus .details .actions .btn{
  clear: both;
  display:block;
  float: right;
  margin-top: 5px;
}

@media only screen and (max-width:990px) {
  .battle-versus .details {
    min-width: 115px;
  }
  .battle-versus .details .actions .hits {
    display: inline-block;
    margin-right: 15px;
    margin-top: -5px;
  }

  .battle-versus .details .actions {
    top: 65px;
  }
}
