.battle-list-item{
  background-color:#ffffff;
  background-clip: content-box;
  margin-bottom: 15px;
  margin-top: 15px;
  position:relative;
}

.battle-list-item h1 {
  color:#FF8547;
  display:block;
  font-size: 26px;
  margin: 15px 15px 0 15px;
  text-align: center;
}

.battle-list-item h1 a{
  color:#FF8547;
}

.battle-list-item .avatar {
  color: #D14701;
  display: inline;
  float: left;
  font-size: 16px;
  height: auto;
  margin: 15px 5%;
  text-align:center;
  width: 40%;
}

.battle-list-item .avatar span {
  border-radius: 100%;
  display: inline;
  float: left;
  height: auto;
  margin-bottom: 10px;
  overflow: hidden;
}


.battle-list-item .avatar span img{
  height: auto;
  width:100%;
}

.battle-list-item .versus {
  height: auto;
  left: 50%;
  margin-left: -40px;
  position:absolute;
  top: 85px;
  width: 80px;
}

.battle-list-item .actions {
  display: inline;
  float: left;
  padding: 15px;
  width: 100%;
}

.battle-list-item .actions .hits{
	background: url(../images/icons/star.png) no-repeat left center transparent;
	background-size: 35px auto;
	color:#333333;
  display:inline-block;
  font-size: 16px;
	height: 50px;
  padding: 15px 0px 10px 45px;
	text-align:right;
}

.battle-list-item .actions .hits:hover{
	color: #FD661A;
	cursor: pointer;
}

.battle-list-item .actions .btn{
  clear: both;
  display:block;
  float: right;
  margin-top: 5px;
}
