.battle-round-leaderboard,
.battle-round-leaderboard-team {
  background-color: #ffffff;
  margin-top: 30px;
  width: 100%;
}

.battle-round-leaderboard td,
.battle-round-leaderboard-team td {
  vertical-align: middle !important;
}

.battle-round-leaderboard-team td {
  border: none !important;
}

.battle-round-leaderboard thead{
  font-size: 20px;
  font-weight: 500;
}
.battle-round-leaderboard .avatar,
.battle-round-leaderboard-team .avatar{
  border-radius: 100%;
  display:block;
  height: 40px;
  overflow: hidden;
  position:relative;
  width: 40px;
}

.battle-round-leaderboard-team .avatar{
  height: 70px;
  width: 70px;
}

.battle-round-leaderboard .avatar img,
.battle-round-leaderboard-team .avatar img {
  height: auto;
  width: 100%;
}

.battle-round-leaderboard-team p {
  color:#fd661a;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.battle-round-leaderboard-team p span {
  color:#999999;
  display:block;
  font-size: 16px;
  font-weight: normal;
}

.battle-round-leaderboard-team p span i{
  color:#999999;
  font-size: 12px;
}
