.news-list-item{
  margin-bottom: 15px;
}

.news-list-item img{
  border-bottom: 3px solid #FD661A;
}

.news-list-item .details .date {
  color:#8c8c8c;
	font-size: 14px;
	margin: 5px 15px 0 15px;
}

.news-list-item .details {
  background-color: #ffffff;
  dispĺay:inline;
  float: left;
  width:100%;
}

.news-list-item .details h1{
  font-size: 20px;
  margin: 0 15px 5px;
}

.news-list-item .details h1 a{
  color: #333333;
}

.news-list-item .btn {
  margin: 10px 15px 15px;
}


.news-list-item .hits{
  background: url(../images/icons/star.png) no-repeat right center transparent;
	background-size: 25px auto;
	color:#333333;
  float:right;
	height: 25px;
  margin: 0 15px 15px 0;
	padding-right: 30px;
	padding-top: 5px;
	text-align:right;
}

.news-list-item .hits:hover{
	color: #FD661A;
	cursor: pointer;
}
