.following-aside-list{
  background-color:#ffffff;
	display:inline-block;
	float: left;
  margin: 30px 0 15px;
	width: 100%;
}
.following-aside-list .title{
  font-size: 20px;
  margin: 15px;
}

.following-aside-list .item{
  border-top: 1px solid #f1f1f1;
	display:block;
	float: left;
	margin: 0;
	padding: 15px;
	position:relative;
	width:100%;
}

.following-aside-list .item h1 {
	font-size: 16px;
	margin: 0 0 15px;
}


.following-aside-list .item p {
	color:#5F90C4;
	font-size: 14px;
	margin: 0;
}

.following-aside-list .item h1 {
	display: inline;
	float: left;
	margin-top: 15px;
}

.following-aside-list img {
	background-color: #ffffff;
  border-radius: 100%;
	display: inline;
	float: left;
  height: auto;
	margin-right: 15px;
	max-width: 55px;
	vertical-align: middle;
}

.following-aside-list .btn-remove {
  background-color:#f1f1f1;
  color:#000000;
  font-size: 10px;
  padding: 3px 6px;
  position:absolute;
  right: 15px;
  top: 5px;
}
