.pro-business-menu{
  background-color: #ffffff;
  display:inline;
}

.pro-business-menu h1 {
  display: inline;
  float: left;
  font-size: 20px;
  margin:15px 0;
}

.pro-business-menu .row {
  border-bottom: 1px solid #8c8c8c;
}

.pro-business-menu .search-box {
  padding-top: 15px;
}

.pro-business-menu .search-box p {
  margin-bottom: 0;
}

.pro-business-menu input[type=search]{
  background: url(../images/icons/search.png) no-repeat center right 5px transparent;
  box-shadow: none !important;
  padding-right: 35px;
}

.pro-business-menu .search-box h2 {
  background-color: #cccccc;
  color: #333333;
  display:block;
  font-size: 16px;
  padding: 5px;
}

.pro-business-menu .search-box ul {
  display:inline;
  float: left;
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
}

.pro-business-menu .search-box ul li{
  display:block;
  padding: 3px 5px;
}

.pro-business-menu .search-box ul li a{
  color:#333333;
}

.pro-business-menu .sub-menu-header {
  background-color: #f0f0f0;
}

.pro-business-menu .sub-menu-header h2 {
  font-size: 18px;
  font-weight: normal;
  margin:10px 0;
}

.pro-business-menu .sub-menu-item .title {
  background: url(../images/icons/arrow-right.png) no-repeat left center transparent;
  background-size: auto 30%;
  color:#333333;
  display:block;
  padding: 5px 0 5px 15px;
  outline: none;
}

.pro-business-menu .sub-menu-item .title.active {
  background: url(../images/icons/arrow-down-2.png) no-repeat left center transparent;
  background-size: 10px auto;
  color: #fd661a !important;
}

.pro-business-menu .sub-menu-item form {
  display:none;
}

.pro-business-menu .sub-menu-item tr td {
  border-top: none;
  vertical-align:middle;
}

.pro-business-menu .sub-menu-item tr td input[type=submit]{
  width:100%;
}

.pro-business-menu .btn-start-over {
  background: url(../images/icons/reload.png) no-repeat left center transparent;
  color: #333333;
  display: inline;
  float: right;
  font-size: 13px;
  margin-top: 18px;
  padding-left: 20px;
}

.pro-business-pagination {
  display:block;
}

.pro-business-results {
  background-color: #ffffff;
  display:inline;
  float: left;
  padding: 15px;
  width:100%;
}

.pages {
  display: inline;
  float: left;
}

.social-reach {
  display: inline;
  float: left;
  margin-left: 45px;
}

.social-reach select{
  display:inline;
  float: left;
  margin-right: 15px;
  width:150px;
}

.pro-business-results-item {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 160px;
  position:relative;
}

.pro-business-results-item .shadow{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.2+0,1+62 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pro-business-results-item .avatar {
  border-radius: 100%;
  display:inline;
  float: left;
  height: 80px;
  margin: 15px;
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
  overflow:hidden;
  width: 80px;
}

.pro-business-results-item .avatar img{
  width:100%;
}

.pro-business-results-item .artist-details {
  display: inline;
  float: left;
}

.pro-business-results-item .artist-details h1{
  color:#333333;
  font-size: 20px;
  margin: 15px 0 5px;
}

.pro-business-results-item .artist-details h1 a{
  color:#333333;
}

.pro-business-results-item .artist-details h2{
  color: #8c8c8c;
  font-size: 18px;
  margin:0 0 20px 0;
}

.pro-business-results-item .artist-details ul {
  display:inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  width:100%;
}

.pro-business-results-item .artist-details ul li{
  background-position: left center;
  background-repeat: no-repeat;
  display: inline;
  float: left;
  font-weight: 500;
  margin-right: 15px;
  padding-left: 20px;
}

.pro-business-results-item .artist-details ul li.fb{
  background-image: url(../images/icons/facebook-black.png);
}

.pro-business-results-item .artist-details ul li.tw{
  background-image: url(../images/icons/twitter-black.png);
}

.pro-business-results-item .artist-details ul li.in{
  background-image: url(../images/icons/instagram-black.png);
}

.pro-business-results-item .artist-details ul li.vm{
  background-image: url(../images/icons/vimeo-black.png);
}

.pro-business-results-item .artist-details ul li.yt{
  background-image: url(../images/icons/youtube-black.png);
}


.pro-business-results-item .artist-details .current-locale {
  background: url(../images/icons/pin-map.png) no-repeat left center transparent;
  display:block;
  margin: 0;
  padding-left: 16px;
}

.pro-business-results-item .artist-details .current-locale span{
  color:#8c8c8c;
  font-size: 13px;
}

.pro-business-results-item .financial {
  display: inline;
  float: right;
  margin: 15px;
  text-align:right;
}

.pro-business-results-item .financial p{
  color:#333333;
}

.pro-business-results-item .financial p span{
  display:block;
  font-size: 13px;
}

@media only screen and (max-width: 991px) {
  .pro-business-menu{
    height:0;
    overflow:hidden;
    transition: height 0.2 linear;
  }
  .pro-business-menu.active{
    height: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1199px) {
  .pro-business-results-item {
    min-height: 100px !important;
  }
}
