.pro-business-profile-body{
  margin-top:100px;
}

.pro-business-profile-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 250px;
  position:relative;
  width:100%;
}

.pro-business-profile-header .shadow {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.2+0,1+62 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 84%, rgba(48,48,48,.9) 85%, rgba(48,48,48,.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 70%,rgba(0,0,0,1) 84%, rgba(48,48,48,.9) 85%, rgba(48,48,48,.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 70%,rgba(0,0,0,1) 84%, rgba(48,48,48,.9) 85%, rgba(48,48,48,.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 250px;
  position:absolute;
  left: 0px;
  top: 0px;
  width:100%;
}

.pro-business-profile-header-content {
  height: 250px;
}

.pro-business-profile-header-content .label {
  position:absolute;
  left: 0;
  top: 25px;
  width: 100%;
}

.pro-business-profile-header-content .label .avatar {
  border-radius: 100%;
  display:inline;
  float: left;
  height: 150px;
  margin-right: 15px;
  overflow: hidden;
  position:relative;
  width: 150px;
}

.pro-business-profile-header-content .label .avatar img {
  width:100%;
}

.pro-business-profile-header-content .label h1{
  color: #fd661a;
  display: block-table;
  font-size: 30px;
  margin: 30px 0 0 5px;
  text-align: left;
}

.pro-business-profile-header-content .label h2 {
  display: block-table;
  font-size: 22px;
  margin: 0 0 15px 5px;
  text-align: left;
}

.testimonial {
  font-size: 13px;
  font-style: italic;
}
.testimonial strong{
  clear:both;
  display:block;
  float: right;
  margin-top: 15px;
}

.pro-business-profile-header-content .location {
  color:#8c8c8c;
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.pro-business-profile-header-content .location span {
  background: url(../images/icons/pin-map.png) no-repeat left center transparent;
  padding-left: 15px;
}

.pro-business-profile-header-content .location a{
  border-bottom: 1px dotted #ffffff;
  color:#ffffff;
}

.pro-business-profile-header-content .location .info {
  background: url(../images/icons/info.png) no-repeat left center transparent;
  background-size: 100%;
  border: none;
  height: 16px;
  overflow: hidden;
  padding: 5px;
  position:relative;
  text-indent: -999px;
  width:16px;
}

.tag-list span {
  background: url(../images/icons/tag.png) no-repeat left 5px center #8c8c8c;
  color:#ffffff;
  display: inline;
  float: left;
  font-size: 13px;
  margin: 5px 5px 5px 0;
  padding: 3px 8px 3px 22px;
}

.sponsors-brands {
  background: url(../images/icons/chart.png) no-repeat left top transparent;
  background-size: 25px auto;
  list-style: none;
  margin: 0;
  padding-left: 30px;
}

.hh-tips {
  margin: 0;
  padding: 0;
}

.hh-tips li {
  background: url(../images/icons/lamp.png) no-repeat left center transparent;
  border-bottom: 1px solid #8c8c8c;
  list-style: none;
  margin: 3px 0;
  padding: 5px 5px 5px 30px;
}

.apprentice {
  display: block;
  float: left;
  margin-bottom: 15px;
  width: 100%;
}

.apprentice .avatar {
  border-radius: 100%;
  display:inline;
  float: left;
  height: 70px;
  margin-right: 15px;
  overflow: hidden;
  position:relative;
  width: 70px;
}

.apprentice .avatar img {
  width:100%;
}

.apprentice h1{
  color: #333333;
  display: block-table;
  font-size: 18px;
  margin: 15px 0 0 5px;
  text-align: left;
}

.apprentice h1 a{
  color: #333333;
}

.apprentice h2 {
  color:#8c8c8c;
  display: block-table;
  font-size: 15px;
  margin: 0 0 15px 5px;
  text-align: left;
}

.representation h1{
  color:#333333;
  font-size: 16px;
  margin: 0 0 5px;
}

.representation h2{
  border-bottom: 1px dotted #333333;
  color:#333333;
  display:inline;
  float: left;
  font-size: 14px;
  margin: 0 0 5px;
  padding-bottom: 1px;
}

.representation p {
  clear: both;
  display:block;
  font-size: 13px;
  margin-top: 5px;
}

.representation p a{
  background: url(../images/icons/message.png) no-repeat left center transparent;
  color:#333333;
  padding-left: 20px;
}

.hh-project-retail td {
  border:none !important;
  vertical-align:middle;
}

.hh-project-retail tr {
  display:table;
  margin-bottom: 15px;
  width:100%;
}

.hh-project-retail td.text-left {
  padding-left: 45px;
}

.hh-project-retail tr.appearance {
  background: url(../images/icons/money-64.png) no-repeat left 10px center #ffb23d;
  background-size: auto 70%;
  color:#ffffff;
}

.hh-project-retail tr.twitter {
  background: url(../images/icons/twitter-64.png) no-repeat left 10px center #5F90C4;
  background-size: auto 50%;
  color:#ffffff;
}

.hh-project-retail tr.facebook {
  background: url(../images/icons/facebook-64.png) no-repeat left 15px center #1C5FA5;
  background-size: auto 70%;
  color:#ffffff;
}

.hh-project-retail tr.instagram {
  background: url(../images/icons/instagram-64.png) no-repeat left 10px center #125688;
  background-size: auto 70%;
  color:#ffffff
}

.hh-project-retail tr.hellohit {
  background: url(../images/icons/hellohit-64.png) no-repeat left 10px center #fd661a;
  background-size: auto 70%;
  color:#ffffff;
}

.trending-sm .trending-sm-content{
  border: 2px solid #f3f3f3;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.trending-sm .trending-sm-content span{
  display:block;
  font-size: 10px;
}

.trending-sm-twitter {
  background: url(../images/icons/twitter-color.png) no-repeat center top 15px transparent;
  background-size: auto 30px;
  padding-top: 50px;
  color: #00aced;
}

.trending-sm-instagram {
  background: url(../images/icons/instagram-color.png) no-repeat center top 15px transparent;
  background-size: auto 30px;
  padding-top: 50px;
  color: #9b6954;
}

.trending-sm-facebook {
  background: url(../images/icons/facebook-color.png) no-repeat center top 15px transparent;
  background-size: auto 30px;
  padding-top: 50px;
  color: #3b5998;
}

.trending-sm-hellohit {
  background: url(../images/icons/hellohit-color.png) no-repeat center top 15px transparent;
  background-size: auto 30px;
  padding-top: 50px;
  color: #fd661a;
}

@media only screen and (min-width: 992px) and (max-width : 1024px) {
  .pro-business-profile-body{
    margin-top:130px;
  }
}

@media only screen and (min-width: 768px) and (max-width : 991px) {
  .pro-business-profile-body{
    margin-top:220px;
  }
}

@media only screen and (max-width : 767px) {
  .pro-business-profile-body {
		margin-top: 60px;
	}

  .pro-business-profile-header .shadow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.2+0,1+62 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 75%, rgba(48,48,48,.9) 76%, rgba(48,48,48,.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 70%,rgba(0,0,0,1) 75%, rgba(48,48,48,.9) 76%, rgba(48,48,48,.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 70%,rgba(0,0,0,1) 75%, rgba(48,48,48,.9) 76%, rgba(48,48,48,.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

  .pro-business-profile-header-content .label .avatar {
    height: 100px;
    width: 100px;
  }

  .pro-business-profile-header-content .label h1{
    font-size: 26px;
    margin: 20px 0 0 5px;
  }

  .pro-business-profile-header-content .label h2{
    font-size: 20px;
  }

  .pro-business-profile-header-content .location {
    bottom: 10px;
  }

  .pro-business-profile-header-content .location p span{
    clear: left
    display:inline;
    float: left;
    margin-right: 15px;
  }
  .pro-business-profile-header-content .location p a.info{
    display: inline;
    float: left;
    margin-top: 3px;
  }
}
