.input-file {
  display:inline;
  float: left;
  min-height: 50px;
  position:relative;
}

.input-file input[type=file],
.input-file span{
  cursor:pointer;
  left: 0;
  position:absolute;
  top: 0;
}

.input-file input[type=file]{
  opacity: 0;
  padding: 6px 12px;
}

.tab-channel-streaming-item {
  display:inline;
  float: left;
  margin-bottom: 15px;
  width:50%;
}

.tab-channel-streaming-item .image {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 35%;
}

.tab-channel-streaming-item .details {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 60%;
}

.tab-channel-streaming-item .details h1{
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 0;
}

@media only screen and (max-width:763px) {
  .tab-channel-streaming-item {
    width:100%;
  }

  .tab-channel-streaming-item .image {
    width: 100%;
  }

  .tab-channel-streaming-item .details {
    width: 100%;
  }
}
