.advertising-box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 15px;
  padding: 15px;
}

.advertising-box h1 {
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 5px;
}

.advertising-box p {
  color:#8c8c8c;
  font-size: 13px;
  margin-bottom: 0;
}
