.create-crowdfunding-category-list .label {
  display:inline-table;
  font-size: 15px;
  margin: 10px;
  padding:10px;
}

.numbers-infos .item {
  margin-bottom: 30px;
}

.numbers-infos .item h1{
  color:#2bde73;
  font-size: 70px;
  margin: 0;
}

.numbers-infos .item span{
  color:#2bde73;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.project-create-phrase {
  color:#333333;
  font-size: 28px;
}

.field-category-name {
  background: url(../images/icons/arrow-down-2.png) no-repeat right 5px center #ffffff;
  border: 1px solid #cccccc;
  color: #8c8c8c;
  cursor:pointer;
  padding: 5px 45px 5px 15px;
}

.input-project-name {
  border: none;
  border-bottom: 1px solid #cccccc;
  font-size: 28px;
  padding: 5px 15px;
  text-align:center;
  min-width: 50%;
}

.field-category-list {
  display:none;
}
