.field-description {
  clear: both;
  color:#8c8c8c;
  display:block;
  float: left;
  font-size: 13px;
}

.box-save-crowdfunding {
  background-color:#ffffff;
  position:fixed;
  bottom: 0;
  padding: 15px 0;
  text-align: right;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  z-index: 1000;
}

.box-save-crowdfunding .discard-changes{
  margin-right: 30px;
}

.box-save-crowdfunding .delete-project {
  background: url(../images/icons/delete.png) no-repeat left center transparent;
  background-size: auto 80%;
  margin-top: 8px;
  padding-left: 20px;
}

.field-verified {
  background-image: url(../images/icons/check_alt.png);
  background-position: right 5px center;
  background-repeat: no-repeat;
}

.field-unverified {
  background-image: url(../images/icons/check_no.png);
  background-position: right 5px center;
  background-repeat: no-repeat;
}

.delete-reward {
  background: url(../images/icons/delete.png) no-repeat left 5px center transparent;
  background-size: auto 60%;
  border: 1px solid #cccccc;
  color:#cccccc;
  margin-top: 15px;
  padding-left: 25px;
}

.reward-item-base {
  display:none;
}

.rewards-actions-bar {
  background-color: #f1f1f1;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.create-new-reward {
  background: url(../images/icons/add_list.png) no-repeat left 5px center transparent;
  padding-left: 25px;
  margin-top: 15px;
  outline: 0;
}
