.nav-engagement {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  float: left;
}

.nav-engagement > li {
  opacity: .6;
}

.nav-engagement > li:hover {
  opacity: .8;
}

.nav-engagement > li > a{
  background-color:#f1f1f1;
  color:#000000;
  font-size: 12px;
}

.nav-engagement > li > a:hover{
  background-color:#ffffff;
  color:#000000 !important;
}

.nav-engagement > li > a > img {
  border: none;
  margin-right: 5px;
  vertical-align: middle;
}
