.hh-talent{
  text-align: center;
}

.hh-talent .presentation{
  padding:0;
}

.hh-talent .img-responsive {
  margin: 0 auto;
}

.hh-talent-list {
  padding:0;
}

.hh-talent-list .row {
  margin: 0;
}

.hh-talent-item {
  padding: 0;
  position:relative;
}

.hh-talent-item .btn-open-talent{
  background-color: #a0191b;
  bottom: 15px;
  color:#ffffff;
  left: 50%;
  margin-left: -104px;
  position:absolute;
  text-transform: uppercase;
}

.hh-talent-item .btn-open-talent:hover{
  background-color: #721113;
  color:#ffffff !important;
}

@media only screen and (max-width: 767px) {
  .hh-talent{
    margin-top: -15px;
  }
}

@media only screen and (min-width: 768px) {
  .hh-talent{
    margin-top: -40px;
  }
}

@media only screen and (min-width: 992px) {
  .hh-talent{
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .hh-talent{
    margin-top: -40px;
  }
}
