.hh-talents-details {
  background-color: #1d1d1d;
  padding-bottom: 15px;
  padding-top: 30px;
}

.hh-talent-menu {
  text-align: center;
  text-transform: uppercase;
}

.hh-talent-menu a{
  color: #ffffff;
  font-size: 21px;
  margin: 0 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 567px) {
  .hh-talent-menu a{
    display:block;
  }
}

.hh-talent-menu a:hover,
.hh-talent-menu a.active{
  background: none;
  border-bottom: 3px solid #fd661a;
}

.hh-talent-menu .label {
  background-color: #ff661a;
  font-size: 60%;
  vertical-align: top;
}

.hh-talent-hits-count {
  color:#fd661a;
  text-align: left;
  font-size: 20px;
}

.hh-talent-hits-count span{
  color:#ffffff;
    font-size: 28px;
}

.hh-talent-star-votes .stars-container{
  float:right;
}

@media only screen and (max-width: 767px) {
  .hh-talents-details{
    margin-top: -15px;
  }
}

@media only screen and (min-width: 768px) {
  .hh-talents-details{
    margin-top: -40px;
  }
}

@media only screen and (min-width: 992px) {
  .hh-talents-details{
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .hh-talents-details{
    margin-top: -40px;
  }
}
/* jCarousel */

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
  background-color: #000000;
  color:#fd661a;
    width: 200px;
    float: left;
    font-size: 20px;
    margin-right:30px;
    padding-bottom: 15px;
    text-align:center;
    text-transform: uppercase;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 599px) {
  .jcarousel li {
    margin: 0;
  }
}

.jcarousel li span {
  color:#ffffff;
  display:block;
  text-transform: capitalize;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin-bottom: 15px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
    outline: 0;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}
