.hh-talent-nav-pills > li > a{
	background-color: #1d1d1d;
  border: 2px solid #fd661a;
	border-radius: 0;
	color:#ffffff;
	font-size: 18px;
	font-weight: 500;
  text-transform: uppercase;
	outline: none;
}

.hh-talent-nav-pills > li > a:hover,
.hh-talent-nav-pills > li.active > a,
.hh-talent-nav-pills > li.active > a:focus,
.hh-talent-nav-pills > li.active > a:hover{
	background-color: #fd661a;
  color:#ffffff !important;
}

.hh-talent-leaderboard {
    background-color: #cccccc;
    margin-top: 30px;
    width: 100%;
}

.hh-talent-leaderboard tbody{
  text-transform: uppercase;
}
