.hh-nav-talent-judge > li > a{
	background-color: #1d1d1d;
  border: 2px solid #fd661a;
	border-radius: 0;
	color:#ffffff;
	font-size: 18px;
	font-weight: 500;
  text-transform: uppercase;
	outline: none;
}

.hh-nav-talent-judge > li > a:hover,
.hh-nav-talent-judge > li > a:focus,
.hh-nav-talent-judge > li.active > a,
.hh-nav-talent-judge > li.active > a:focus,
.hh-nav-talent-judge > li.active > a:hover{
	background-color: #fd661a;
  color:#ffffff !important;
}

.hh-talent-judge-users {
  text-align: center;
  margin-top: 75px;
}

.hh-talent-judge-users a{
  display:inline-table;
  max-height: 75px;
  padding-bottom: 15px;
  max-width: 75px;
  margin: 0 15px 15px;
}

.hh-talent-judge-users a span{
  border: 2px solid #ffffff;
  border-radius: 100%;
  display:inline-table;
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 60px;
}

.hh-talent-judge-users a span img{
  width:60px;
}

.hh-talent-judge-users a:hover,
.hh-talent-judge-users a.active{
  border-bottom: 3px solid #fd661a;
}
