.talent-contestant-item {
	margin-bottom: 15px;
}

.talent-contestant-item .label span{
	color:#ffffff;
	display:block;
	margin-bottom: 5px;
}

.talent-contestant-item .label{
	background-color:#000000;
	color:#fd661a;
	display:inline;
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 15px 0;
	width:100%;
}
