footer {
	transition: all .2 linear;
}

footer.fixed {
	bottom: 0;
	position:fixed;
	width: 100%;
}

.footer-main {
    background-color: #FFF;
    color: #8c8c8c;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    margin-top: 60px;
}

.desc-footer {
	margin-top: 30px;
}

.menu-footer {
	margin-bottom: 20px;
	margin-top: 15px;
	text-align:center;
}

.link-footer{
	color:#8c8c8c;
	margin: 0 15px;
}

.link-footer:hover {
	color: #FDA21A;
}

.copyright {
	margin-bottom: 0;
}
