.css-slideshow-shadow{
  background-color: rgba(0,0,0,.7);
  height: 100%;
  left: 0;
  position: fixed;
  top:0;
  width:100%;
  z-index: 100;
}

.css-slideshow{
  left: 0;
  position: fixed;
  top: 0;
  width:100%;
  height: 100%;
  overflow:hidden;
  z-index:0;
}

.css-slideshow figure{
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  z-index: 50;
}

.css-slideshow img{
  box-shadow: 0 0 2px #666;
  height: 100%;
  width:auto;
}
.css-slideshow figcaption{
  position: absolute;
  right: 50px;
  bottom: 50px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 8px 12px;
  opacity: 1;
  z-index: 75;
}

.css-slideshow-attr{
  width: 100%;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}

figure:nth-child(1) {
  animation: xfade 54s 54s infinite;
}
figure:nth-child(2) {
  animation: xfade 54s 48s infinite;
}
figure:nth-child(3) {
  animation: xfade 54s 42s infinite;
}
figure:nth-child(4) {
  animation: xfade 54s 36s infinite;
}
figure:nth-child(5) {
  animation: xfade 54s 30s infinite;
}
figure:nth-child(6) {
  animation: xfade 54s 24s infinite;
}
figure:nth-child(7) {
  animation: xfade 54s 18s infinite;
}
figure:nth-child(8) {
  animation: xfade 54s 12s infinite;
}
figure:nth-child(9) {
  animation: xfade 54s 6s infinite;
}
figure:nth-child(10) {
  animation: xfade 54s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
