html {height: 100%;}
body {
    background-color:#000000;
    color:#ffffff;
    font-size: 15px;
    height: 100%;
}

body.static-bg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

a {
    color:#ffffff;
    outline: 0;
}

/* NAV BAR */
.nav-pills {
  margin: 20px 0;
}
.nav-pills > li > a{
	background-color: #ffffff;
	border-radius: 0;
	color:#1C5FA5;
	font-size: 18px;
	font-weight: 500;
	outline: none;
}

.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
	background-color: #1C5FA5;
  color:#ffffff;
}

.container {
  position: relative;
  z-index: 1000;
}

.header-logo {
    margin: 15px 0;
    text-align: center;
}

.header-logo a {
  display:inline;
  margin: 0 auto;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar-default .navbar-nav .active, .navbar-default .navbar-nav .active:focus, .navbar-default .navbar-nav .active:hover {
    background: none;
    color: #3be0c0;
}

.navbar-default .navbar-nav a {
    color:#ffffff;
}
.navbar-nav {
    text-align:center;
    width: 100%;
}

.nav-link {
    color: #ffffff;
    margin-right: 0;
    padding: 10px;
    border: none;
    opacity: 1;
    -webkit-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    transition: color 500ms ease;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: 0.08em;
}

.nav-link:hover:not(.join-and-login-link) {
    color: #3be0c0 !important;
}

.nav-menu-expand {
    background-color: rgba(0,0,0,0.9);
}

/* LOIGN BOX */
.login-box h1 {
  color:#fd661a;
  font-weight: bold;
  font-size: 32px;
  text-align:center;
}

.login-box h2 {
  color:#ffffff;
  font-size: 22px;
  text-align:center;
}

.login-box form {
  margin: 45px 0 15px;
}

.login-box a {
  color: #3be0c0;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-box a:hover{
  color:#fd661a;
  text-decoration: none;
}

/* FORM */
.form-control{
	border-radius:0;
  margin: 10px 0;
}

.form-control:focus {
	border-color: #fd661a;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
input[type=number]:focus,
textarea {
	border-color: #fd661a;
	border-radius: 0;
	box-shadow: none !important;
}

select {
  color:#555555;
  margin: 10px 0;
}

.btn-action {
  background-color: #fd661a;
  border-radius: 0;
  color:#ffffff;
  font-size: 20px;
  margin: 15px 0;
  width:100%;
}

.box-form-login-header {
  margin-top: 15px;
}

.box-form-login-header input[type=text],
.box-form-login-header input[type=password]{
  margin-top: 15px;
}

.box-form-login-header  a {
  color: #3be0c0;
  font-weight: bold;
  margin-bottom: 5px;
}

.box-form-login-header  a:hover{
  color:#fd661a;
  text-decoration: none;
}
